<style>
  :root{
    --fab-primary-color: {{fab_primary_color}};
  }

  #uc_social_fab {
    position: fixed;
    bottom: 16px;
    {{fab_position}}: 16px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }
</style>
<div id="uc_social_fab">
    <div class="trigger"><i class="fas  fa-phone"></i></div>
    <div class="actions">
      <div class="action"><a href="http://m.me/{{fab_fb_page_name}}" ><i class="fab  fa-facebook-messenger"></i></a></i>
      </div>
      <div class="action"><a href="https://wa.me/{{fab_contact_number}}"><i class="fab  fa-whatsapp"></i></a>
      </div>
      <div class="action"><a href="mailto:{{fab_email}}" ><i class="fas fa-envelope-square"></i></a>
      </div>
      <div class="action"><a href="tel:{{fab_contact_number}}"><i class="fas fa-phone-volume"></i></a>
      </div>
    </div>
</div>

<script>
    document.getElementById("uc_social_fab").addEventListener("click",function(){
        this.classList.toggle("open");
    });
</script>