    
    .uc-newsletter{
        display:block;
        width:var(--newsletter-container-width);
        height:100%;
        margin:var(--newsletter-component-margin) auto;
        padding:10px;
        box-sizing:border-box;
        text-align:center;
      }
    
      .uc-success-message{
        display:block;
        height:100%;
        border-radius:5px;
        margin:auto;
        padding:10px;
        box-sizing:border-box;
        text-align:center;
        background-color: var(--newletter-btn-bg-color);
        color :var(--newletter-btn-text-color);
      }
      
      .uc-newsletter-inp
      {
        width:75%;
        font-size:15px;
        height:30px;
        border-radius:5px;
        outline:0;
        border-style:solid;
        border-width: thin;
        text-align: center;
        background-color: var(--newletter-btn-text-color);
      }
      .uc-newsletter-inp:invalid{
        background-color:rgba(255, 186, 210,.3);
      }
    
      .uc-newsletter-inp:empty {
        background-color: var(--newletter-btn-text-color);
      }
      
      .uc-newsletter-btn
      {
        width:20%;
        height:35px;
        border-radius:5px;
        border-style:solid;
        border-width: thin;
        outline:0;
        transition: all .5s;
        background-color: var(--newletter-btn-bg-color);
        color:var(--newletter-btn-text-color);
      }
      
      .uc-newsletter-btn:hover{
         transform: scale(1.05);
      }
      
      @media only screen and (max-width: 600px) {
        .uc-newsletter-inp {
          width:65%;
        }
        .uc-newsletter-btn
        {
          width:33%;
        }

        .uc-newsletter{
          width: 100%;
        }
      }
    #uc-newsletter-error{
      display: block;
      font-size: small;
      color: red;
      text-align: left;
      margin-left:20px;
    }