.action .fab,.action .fas{
  margin-top: 5px;
  color:white;
  
}

#uc_social_fab .trigger, #uc_social_fab .action {
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  
}
#uc_social_fab .trigger:active, #uc_social_fab .action:active {
  opacity: .7;
}
#uc_social_fab .trigger {
  position: relative;
  background: var(--fab-primary-color);
  color: #fff;
  height: 56px;
  width: 56px;
  line-height: 56px;
  vertical-align: middle;
  font-size: 1.5em;
  
}
#uc_social_fab .action {
  position: absolute;
  top: 0;
  margin: 0 8px;
  background: #fff;
  color: #333;
  height: 40px;
  width: 40px;
  line-height: 40px;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
}
#uc_social_fab .actions {
  opacity: 0;
  transition: opacity 0.4s ease;
}
#uc_social_fab .actions a{
  width: 100%;
  height: 100%;
}
#uc_social_fab.open .actions {
  opacity: 1;
}
#uc_social_fab.open .actions .action:nth-child(1) {
  -webkit-transform: translateY(-48px);
          transform: translateY(-48px);
   background-color: #4267B2;
  }
  #uc_social_fab.open .actions .action:nth-child(2) {
    -webkit-transform: translateY(-96px);
    transform: translateY(-96px);
    background-color: #75B73B;
  }
  #uc_social_fab.open .actions .action:nth-child(3) {
    -webkit-transform: translateY(-144px);
    transform: translateY(-144px);
    background-color: #FFC91B;
  }
  #uc_social_fab.open .actions .action:nth-child(4) {
    -webkit-transform: translateY(-192px);
    transform: translateY(-192px);
    background-color: #3C7EA8;
}
#uc_social_fab.open .tooltip {
  opacity: 1;
  -webkit-transform: translateY(-50%) scale(1);
          transform: translateY(-50%) scale(1);
  right: 64px;
  transition-delay: 0.2s;
}
#uc_social_fab .tooltip {
  position: absolute;
  top: 50%;
  right: 0;
  width: 50vw;
  -webkit-transform: translateY(-50%) scale(0);
          transform: translateY(-50%) scale(0);
  -webkit-transform-origin: right center 0;
          transform-origin: right center 0;
  text-align: right;
  transition: all 0.4s ease;
  opacity: 0;
  color: #fff;
}

